<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708024687058-hc3qm37cv1s1rro4adeniroq3b7e375p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708024687058-hc3qm37cv1s1rro4adeniroq3b7e375p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>708024687058-nc2uv6a5sbl16erp6difrq2n9n5g4jbk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUZACfR_Q2hnBfAkZzVYkayOZHJg3kPQI</string>
	<key>GCM_SENDER_ID</key>
	<string>708024687058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.student.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-student-d445b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-student-d445b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708024687058:ios:cbe48e04236208e351d00b</string>
</dict>
</plist>